extends ../layouts/layout

block content
	.grid-row
		.row.header
			div 
				span BL
				span
					img.img-circle(src='Blog_Logo.jpg')
				span G!
			div
				.quote "Musings of a creator"
		include ../layouts/flash
		- if(blogs && blogs.length>0)
			for blog in blogs
				.row.blog-post(title=blog.permalink)
					img.img-responsive(src=blog.imageUrl)
					.col-sm-12
						div.blog-content
							h2.text-center
								a(href='/blog/' + blog.title)= blog.title
							div.meta 
								span.meta-item
									span.fa.fa-user 
									span: a(href='/user/' + blog.author, title='Show Profile')= blog.author
								span.meta-item
									span.fa.fa-calendar 
									span(title='Published On')= blog.published.toDateString()
								span.meta-item-tags.pull-right
									span.fa.fa-tags
									for tag in blog.tags
										a(href='/q?query=' + tag, class='tag-' + tag)= tag
							div.blog-body= blog.summary
							- if(user)
								div.text-center
									a.btn.btn-primary(href='/blog/' + blog.id + '/edit') Edit
			script(type='text/javascript')
				include ./home.min.js
		- else
			.row.blog-post
				h2.text-center Sorry! No Blog Posts Exist!