extends ../layouts/layout

block content
	link(rel="stylesheet" href="/css/highlight.min.css")
	a.btn.btn-default.fa.fa-comment.visible-lg.visible-md(title='Add Comment', id='addCommentBtn', data-toggle='modal', href='#comment-modal')
	.grid-row
		.row.article(id=blog.id)
			div.article-content
				h2.text-center= blog.title
				div#social-links
					a(id="sl-facebook", title="Share this post?", onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436'); return false;" href="#")
						span.fa.fa-facebook
						| Share
				div.meta 
					span.meta-item
						span.fa.fa-user 
						span: a(href='/user/' + blog.author, title='Show Profile')= blog.author
					span.meta-item
						span.fa.fa-calendar 
						span(title='Published On')= blog.published.toDateString()
					span.meta-item-tags.pull-right
						span.fa.fa-tags
						for tag in blog.tags
							a(href='#', class='tag-' + tag)= tag
				- if(user)
					br
					div.text-center
						a.btn.btn-primary(href='/blog/' + blog.id + '/edit') Edit
						a.btn.btn-danger(href='/blog/' + blog.id + '/delete') Delete
				div.article-body!= md(blog.content)
	#addComment
		#comment-modal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
						h4.modal-title Add Comment
					.modal-body
						input(type="hidden", id="blogId", value=blog.id).form-control
						.form-group
							label(for='commentOwner') Name
							input#commentOwner.form-control(type='text', placeholder='Leave your name please')
						.form-group
							label(for='commentContent') Comment
							textarea#commentContent.form-control(rows=3, placeholder='Add your comment here')
					.modal-footer
						button#closeModal.btn.btn-default(type='button', data-dismiss='modal') Close
						button#submitComment.btn.btn-primary(type='button') Submit Comment
		.grid-row
			#commentWrapper.row
				h2.text-center Comments
				.text-center
					a.btn.btn-primary(title='Add Comment', data-toggle='modal', href='#comment-modal') 
						.fa.fa-comment   
						|   Add Comment
				#commentSection
					-if(blog.comments.length>0)
						for comment in blog.comments
							.comments
								div.comment-meta 
									span: a= comment.owner
									span  commented on 
									span: a= comment.posted.toDateString()
								div.content= comment.content
								-if(user)
									a(href='/blog/' + blog.id + '/delComment/' + comment.id) Delete Comment
					-else
						#noComment.text-center No comments yet!
	script(type='text/javascript')
		include ./show.min.js